<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xujie.mysecret.dao.mapper.BillMapper">
    
    <resultMap id="result" type="com.xujie.mysecret.entity.bill.Bill">
        <id column="id" jdbcType="BIGINT" property="id"></id>
        <result column="amount" jdbcType="DECIMAL" property="amount"></result>
        <result column="bill_type" jdbcType="VARCHAR" property="billType"></result>
        <result column="business_name" jdbcType="VARCHAR" property="businessName"></result>
        <result column="business_trans_id" jdbcType="VARCHAR" property="businessTransId"></result>
        <result column="date" jdbcType="VARCHAR" property="date"></result>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"></result>
        <result column="product_name" jdbcType="VARCHAR" property="productName"></result>
        <result column="status" jdbcType="VARCHAR" property="status"></result>
        <result column="tran_status" jdbcType="VARCHAR" property="tranStatus"></result>
        <result column="trans_type" jdbcType="VARCHAR" property="transType"></result>
        <result column="transid" jdbcType="VARCHAR" property="transid"></result>
        <result column="bill_source" jdbcType="VARCHAR" property="billSource"></result>
    </resultMap>

    <select id="findByBill" parameterType="com.xujie.mysecret.entity.bill.Bill" resultMap="result">
        select * from bill where 1=1
        <if test="null != bill and bill.billSource != null and '' != bill.billSource">
            and bill_source = #{bill.billSource}
        </if>
        <if test="null != bill and bill.billType != null and '' != bill.billType">
            and bill_type like #{bill.billType}"%"
        </if>
        <if test="null != bill and bill.payType != null and '' != bill.payType">
            and pay_type = #{bill.payType}
        </if>
        <if test="null != bill and bill.transType != null and '' != bill.transType">
            and trans_type = #{bill.transType}
        </if>
        <if test="null != bill and bill.status != null and '' != bill.status">
            and status = #{bill.status}
        </if>
    </select>
    
    <select id="sourceProportion" resultType="map">
        select bill_source as 'name',count(1) as 'value' from bill group by bill_source;
    </select>

</mapper>